@import "../variables";

.btn {
  padding: 14px 18px;
  color: $white;
  background-color: $orange;
  border: none;
  font-weight: 700;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    transform: translateY(3px);
  }

  &--header {
    padding: 15px 23px;

    &-delimiter {
      content: "";
      display: inline-block;
      height: 25px;
      width: 1px;
      background: rgba(255, 255, 255, 0.25);
      margin: 0px 13px;
    }
  }

  &--outline {
    border: 1px solid $btn-text-color;
    background-color: $white;
    color: $btn-text-color;

    svg {
      margin-right: 8px;
    }

    i {
      margin-left: 8px;
      background-color: $btn-text-color;
      width: 22px;
      height: 22px;
      color: $white;
      padding: 2px 5px 2px 4px;
      border-radius: 100%;
    }

    &:hover {
      background-color: $orange;
      color: $white;
      border-color: $orange;
      transition: all $duration ease-in-out;

      svg {
        path {
          fill: $white;
        }
      }

      i {
        color: $btn-text-color;
        background-color: $white;
      }
    }
  }

  &--outline-gray {
    border: 1px solid #d3d3d3;
    color: #cacaca;

    &:hover {
      background-color: $black;
      color: $white;
      border: 1px solid $black;
    }
  }

  &--cart {
    padding: 18px 30px;
  }

  &--circle {
    width: 32px;
    height: 32px;
    padding: 7px;
    border-radius: 50%;

    &:hover {
      transition: all $duration ease-in-out;
      path {
        fill: $white;
      }
    }
    &:active {
      transform: translateY(3px);
    }

    &-orange {
      border: 3px solid $orange;

      &:hover {
        background-color: $orange;
      }
    }

    &-gray {
      border: 3px solid #d0d0d0;

      &:hover {
        background-color: $black;
        border-color: $black;
      }
    }
  }
}
