// COLORS
$body-background: #ffdf8c;
$white: #fff;
$black: #2c2c2c;
$gray: #7b7b7b;
$light-gray: #8d8d8d;
$pizza-parameters-bgc: #f3f3f3;
$orange: #fe5f1e;
$btn-text-color: #eb5a1e;
$gray-line-color: #f6f6f6;
$category-bgc-white: #f9f9f9;
$category-bgc-black: #282828;
// TRANSITION
$duration: 0.15s;
